# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Razor.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\HP\Desktop\razor\Razor\.idea\.idea.Razor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
